* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    }
    
  
  
  body{
  color:black;
  background-color:light gray;
  font-family: Arial, Helvetica, sans-serif;
  }

      
  main{
    width:64%;
    margin: 0 auto 2rem auto;
    font-size: 1.2rem;
  
}
  
  h1{
      color:cornflowerblue;
      text-shadow:2px 2px black;
      font-size: 3.6rem;
       text-align: center;
       padding: 2rem 0;
  }  
  
  h2{
    color:cornflowerblue;
    padding:3rem 0 .5rem 0;
  
  
  }
  
  

  
  img{
      display: block;
      margin: 0 auto;
      width: 60%;
  }





figure img{
  margin: 1rem auto;

  
}







/* --------MID SCREENS----------------- */


@media (min-width: 400px) and (max-width:768px) 
{
body{
  font-size: 1rem;

  }
  h1{
  
    text-shadow:1px 1px black;
    font-size: 2.9rem;
   
}  

  main{
    width: 75%;
    margin:0 auto;
  }

  img{
    display: block;
    margin: 0 auto;
    width: 90%;
}



}


/* ------------------SMALL SCREEN-------------------------- */


@media (max-width:399px) 
{
body{
font-size: .9rem;
}

h1{
  
  text-shadow:1px 1px black;
  font-size: 2.5rem;
 
}  

main{
  width: 90%;
  padding:0 auto;
}

img{
  display: block;
  margin: 0 auto;
  width: 100%;
}



} 

  
  
  