


  
  * {
      box-sizing: border-box;
      padding:0;
      margin:0;
      }

  body{
    height:100vh;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 1.6rem;
  }

header 
{
  text-align: center;
  background-image: url('/img/peasants.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  min-height:10rem;
  
  
}

header > h1 {
    font-size: 4vw;
    width: 72%;
    margin: auto auto;
    
   text-shadow:2px 2px black;
   color:cornflowerblue;

  } 

  
  header > h1 {
    font-size:3rem;
   
    width:100%
  }


  
summary{
    text-align:right;
    font-size: .9rem;
    margin-bottom: 1rem;
}
  .article-body{
    width:64%;
    text-align: justify;
    margin: 0 auto;
   
  }

a{
    text-decoration:none;
    font-style: oblique;
   
}

a:active {
    color: lightseagreen  }
  
  a:visited {
    color: rgb(23, 0, 128);
  }

 

ul.list1 {
  list-style-type:lower-alpha;
  margin-left: 1.5rem;
  

  }




/* --------MID SCREENS----------------- */


@media (min-width: 400px) and (max-width:768px) 
{

 

    header > h1 {
    padding-top:8rem;
    font-size:2.3rem;
   }
    .article-body {
    width: 85%;
    margin: 0 auto;
    font-size: 1.2rem;
    }
    section h1{
      margin-top:.3rem;
      }
}
 

/* ------------------SMALL SCREEN-------------------------- */
@media (max-width:399px) 
{
  header > h1 {
    font-weight:700 ;
    width:90%;
    padding-top:3rem;
    font-size:1.7rem;


  }
  header{
    width:95%
  }
    .article-body {

    width: 95%;
    margin: 0 auto;
    font-size:  1rem;
  
  
  }
  section h1{
    margin-top:.1rem;
    }
 
}
/* -----------END <399px MQ------------------ */
