* {
    box-sizing: border-box;
    margin:0;
  padding:0;
   }

body{
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  font-size: 1.1rem;
  height:100vh;
  background-image: url('/img/recruitCol600x411.jpg');
  background-repeat: repeat;
  background-position: center;

  display: block;


}








h1{
  font-size: calc(28px + (52 - 28) * ((100vw - 320px) / (1600 - 320)));
  color:cornflowerblue;
 
  text-align: center;
  text-shadow:2px 2px black;
  margin-bottom: 2rem;

  
}
a{
  color:darkblue;
  text-decoration: none;
}





main{
width:60%;
margin:5rem auto;
text-align: left;
background-color:rgba(250, 250, 250, .9);
height:100vh;
padding:3rem 4rem;
position:center;
}
/* -------------------------------------- */



a {
  text-decoration: none;

}

a:hover {
  background-color: rgb(218, 233, 229);
  color: black;
}

/* --------MID SCREENS----------------- */


@media (min-width: 400px) and (max-width:768px) {

  body{
    background-image:none;
 }
 
  main{
    font-size: 1rem;
  
    }

    main{
      width:80%;
      margin:0 auto;
      padding:0 1rem;
    
      }

}


/* ------------------SMALL SCREEN-------------------------- */


@media (max-width:399px) {
body{
  font-size:.9rem;
  background-image:none;
}
  

main{
  width: 90%;
  padding:0 auto;
  
  padding:0 .6rem;
}


} 
