/* LINKED TO GEORGIJEVOUTED STALIN3 DEPORTMADIS */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  body {
   

    color: rgb(22, 22, 29);
    width: 70%;
    margin: 1rem auto;
    font-size:1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    
  }



  #hdr h1{
      margin-bottom: 1rem;
      text-align: center;
      color:cornflowerblue;
      
        
    }
    #picHdr{
        text-align: right;
        }

      

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    height: auto;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    padding-left: 1rem; 
}

span{
  font-style: italic;
}

 
 .pics-in-row{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
img{
  margin: 8px auto;

}

p.bottom-gap3 {
  padding-bottom: 3rem;
}



/* --------MID SCREENS----------------- */


@media (min-width: 400px) and (max-width:768px) 
{
 body{
   font-size: 1.3rem;
   }

}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 76%;
  height: auto;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem; 
}


/* ------------------SMALL SCREEN-------------------------- */


@media (max-width:399px) 
{
body{
font-size: 1rem;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 84%;
  height: auto;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem; 
}

}    

   
