* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  body {

 

    background-image: linear-gradient(to right, rgb(100, 149, 237, 0), rgba(100,149,240,.7));

 
  }
  
  /* Just for the fallback layout */
  
  main {
    max-width: 500px;
    margin: 0 auto;
   
  }
  article {
    margin: 1rem 0;
  }



  
  /* Now lets do a Grid-based layout */
  
  @supports (display: grid) {
    main { 
      max-width: 10000px;
      margin: 0;
    }
    article {
      margin: 0;
    }
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap:1.2rem;
    }
  }
    
  .wrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 3;
  
  }
  .intro {
    display: flex;
    flex-flow: column;
    border:  4px groove darkgrey;

    padding: 2rem;
    background-color:rgb(227, 227, 227);
  }
  
  
  .intro > p {
    margin: 0.25em .5rem;
  }
  .intro > img {
    align-self: center;
    padding: 1rem 0;
  }
  
  header > h1{
      color:cornflowerblue;
      font-size: calc(28px + (52 - 28) * ((100vw - 360px) / (1600 - 360)));
      text-shadow:2px 2px black;
      padding: 0 0 3rem 0;

  }

  header 
{
  text-align: center;
  background-image: url('/img/RestnFagCol.jpg');
  background-size: 100%;
  z-index:-1;
  background-repeat: no-repeat;
  background-position: 20% 40%;
  height: 27vh;
  margin-bottom:1rem;
  
}

 

a:link {
    text-decoration: none;
  }


a:hover {
    background-color:cornflowerblue;
    color:rgb(238, 204, 15);
  }
  
  

.intro:nth-child(4){
  position: relative;

}

.menu-list div h2{
  position:absolute;
  top: 0;
  right: 6vw;
  left:5vw;
  opacity: 0.9;
}

.intro .menu-list div h2{ 
  color:lightgrey;
  text-shadow: 2px 2px gray;
  margin:0 1rem 0 1rem;
  font-weight: 900;
  font-size: 3rem;

  
  }

}

.intro .menu-list ul li a{

 
  line-height: 3rem;

  

  
}

.intro .menu-list ul li{
  padding:0 0 0 2rem;
  line-height: 2rem;
  list-style-type:none;

  font-family: 'Arial Narrow';

  font-weight: 900;
}

.intro .menu-list ul{
  padding: 2rem;

}

.button {
    background-color:grey;
    border: none;
    color: white;
    padding: .4rem 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1.1rem;
    margin:.1rem 1rem;
    cursor: pointer;
    width:220px;
 
  }