* { box-sizing: border-box; margin:0; padding:0;}

body { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
   
    border-collapse: collapse;
    width: 100%;
  
    margin-top:2rem;
    
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: .7rem;
    

  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  main{
      display:block;
      width:50%;
      margin:2rem auto 0 auto;
      font-size: 1.1rem;
  

  }

  h2 {
      text-align: center;
    font-weight: 900;
  }

  h1{
    color: cornflowerblue;
    text-shadow:2px 2px darkblue;
    font-size: 3.6rem;
    text-align: center;
}


@media (max-width:768px){
      main{
        width: 85%;
      }
      h1{
    
        text-shadow:1px 1px darkblue;
        font-size: 2.7rem;
      
    
    }


    @media (max-width:374px) 
    {

        main{
          width:96%;
        }

        h1{
    
          text-shadow:1px 1px darkblue;
          font-size: 2.3rem;
      
      }

  

}