* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {

  background-color:rgba(87, 102, 82, 0.3);

}

/* Just for the fallback layout */

main {
  max-width: 500px;
  margin: 0 auto;
 
}
article {
  margin: 1rem 0;
}




/* Now lets do a Grid-based layout */

@supports (display: grid) {



    main { 
      max-width: 10000px;
      margin: 0;
          }

    article {
      margin: 0;
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-gap:1.2rem;
    }
  
    
  .wrapper {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 3;
 
  }

  .nav {
    display: flex;
    flex-flow: column;
    padding: .4rem;
    background-color:rgb(227, 227, 227);
  }
  


  



  .introHdr>h1{
    color:grey;
    text-shadow:2px 2px black;
    font-size:3.5rem;
    text-align: center;   

 

  }



  header .headpic{
 
  background-image: url('/img/estiPics/estMisery.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:2% 10%;
  z-index:-1;
  height: 50vh;

}



a:link {
    text-decoration: none;
    padding: 2rem 0;
  }


a:hover {
    background-color:cornflowerblue;
    color:rgb(238, 204, 15);
  }

}

.introMenu  ul li{

  line-height: .2rem;
  list-style-type:none;
  font-weight: 900;

}



.button {
    background-color:grey;
    border: none;
    color: white;
    padding: 1.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1.4rem;
    cursor: pointer;
    width:100%;
    height:7vh;
    margin:.5rem;
 
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    
    header .headpic{
 
      background-image: url('/img/estiPics/estMisery.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      z-index:-1;
      height:20rem;
          
    }
    




  }

