* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  body {
   font-size: 1.6rem;
   font-family: Arial, Helvetica, sans-serif;
    
  }
  
  

 h1{
    color: cornflowerblue;
  text-align: center;
  font-size: 4vw;
    text-shadow:2px 2px black;
    margin: 2rem 0;

}
 



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(26, 50, 189);
    
  }
  
  .active {
    background-color:cornflowerblue;
  }

  main{
      margin:0 auto;
      margin-top: 2rem;
      width:64%;
  }