* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  body {

    background-color:rgba(231, 231, 231, 0.7);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1.2rem;

  }
  
 




#hdr{
    color:cornflowerblue;
    text-align: center;
    margin:1rem 0 3rem 0;

}

main{
    width:70%;
    margin:0 auto;

}

main blockquote{

    font-style: italic;
    margin: 1rem auto; 
    width:40%;

}