* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  body {

    background-color:rgba(87, 102, 82, 0.3);

  }
  
  /* Just for the fallback layout */
  
  main {
    max-width: 500px;
    margin: 0 auto;
   
  }
  article {
    margin: 1rem 0;
  }



  
  /* Now lets do a Grid-based layout */
  
  @supports (display: grid) {



      main { 
        max-width: 10000px;
        margin: 0;
            }

      article {
        margin: 0;
      }

      .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap:1.2rem;
      }
    
      
    .wrapper {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      z-index: 3;
      background-image: url('/img/death.jpg');
      background-position: 10% 10%;
    }

    .intro {
      display: flex;
      flex-flow: column;
      border:  4px groove cornflowerblue;
      padding: .4rem;
      background-color:rgb(227, 227, 227);
    }
    
    
    .intro > p {
      margin: 0.25em .5rem;
    }

    .intro > img {
      align-self: center;
      padding: 1rem .1rem;
    }
    
  header>h1{
        color:cornflowerblue;
        text-shadow:2px 2px black;
        padding:3rem 0;   
        font-size:3.5rem;
      

    }

    header {
    text-align: center;
    background-image: url('/img/death.jpg');
    background-size: 100%;
    z-index:-1;
    background-repeat: no-repeat;
    background-position: 2% 17%;
    height: 27vh;

  }

  

  a:link {
      text-decoration: none;
    }


  a:hover {
      background-color:cornflowerblue;
      color:rgb(238, 204, 15);
    }

}